.header__container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  max-width: 1100px;
  padding: 92px 50px 96px;
}

.nav__list {
  display: flex;
  gap: 33px;
  font-size: 18px;

  font-weight: 400;
}
.nav__item {
  text-underline-offset: 4px;
}

.nav__item--active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 135px;
}
.header__logo-img {
  display: block;
}

.contacts__item {
  display: flex;
  justify-self: flex-end;
  width: 240px;
  font-size: 18px;

  font-weight: 400;
  line-height: 135%;
  font-style: normal;
}
.contacts__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Делаем Cover */

.cover {
  margin-bottom: 180px;
  position: relative;
  width: 100%;
  min-height: 757px;
  overflow: hidden;
}

.cover__image {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  box-sizing: border-box;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;

  margin-left: 30px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 60px; */
  margin-top: auto;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;

  /* TODO Вариант с margin точно не Ок, потом найти решении */
  word-spacing: 18px;
  margin-right: 106px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

/* Делаем карточки лотов */

.lots {
}
.lots__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 334px));
  gap: 25px;
}
.lots__item {
  display: flex;
  flex-direction: column;
  height: 596px;
  outline: 1px solid navy;
  padding: 48px 40px;
}
.lots__link {
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  height: 100%;

  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
}
.overlay {
}
.card__title {
  font-weight: 700;
  font-size: 22px;

  line-height: 120%;
  /* text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none; */
  /* color: #fff; */
}
.card__text {
  /* font-weight: 400;
  font-size: 20px;

  line-height: 120%; */
  /* color: #fff; */
}
